name: 'Sync listing from R2 to S3'
on:
  # allow for kicking off DB builds manually
  workflow_dispatch:

  # allow invoking from another workflow
  workflow_call:
    secrets:
      TOOLBOX_AWS_ACCESS_KEY_ID:
        required: true
      TOOLBOX_AWS_SECRET_ACCESS_KEY:
        required: true
      SLACK_TOOLBOX_WEBHOOK_URL:
        required: true

env:
  CGO_ENABLED: "0"
  SLACK_NOTIFICATIONS: true
  FORCE_COLOR: true

jobs:
  sync-listing-file:
    name: "Sync listing file"

    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap

      - name: Download the R2 listing file
        run: curl --fail -O https://grype.anchore.io/databases/listing.json

      - name: Upload listing file
        run: |
          uv run \
            grype-db-manager \
              -c ./config/grype-db-manager/publish-production.yaml \
                listing upload listing.json
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.TOOLBOX_AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.TOOLBOX_AWS_SECRET_ACCESS_KEY }}

      - name: Notify Slack on failure
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a #v2.1.1
        if: ${{ always() && job.status != 'success' && env.SLACK_NOTIFICATIONS == 'true' }}
        with:
          webhook: ${{ secrets.SLACK_TOOLBOX_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Sync of the Grype DB listing file from R2 to S3 has failed"
            blocks:
              - type: section
                text:
                  type: mrkdwn
                  text: |
                    *Sync of the Grype DB listing file from R2 to S3 has failed*
                    • Workflow: `${{ github.workflow }}`
                    • Event: `${{ github.event_name }}`
                    • Job Status: `${{ job.status }}`
                    • <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Run>

